*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/limit-login-attempts
wp-content/mu-plugins/wpengine-common
wp-content/mysql.sql

# wp core (as of 3.4.1)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/wp-content/index.php
/wp-content/themes/twentyten
/wp-content/themes/index.php
/wp-content/plugins/index.php

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
wp-content/plugins/query-monitor/LICENSE
wp-content/plugins/query-monitor/assets/compat.css
wp-content/plugins/query-monitor/assets/query-monitor.css
wp-content/plugins/query-monitor/assets/query-monitor.js
wp-content/plugins/query-monitor/classes/Backtrace.php
wp-content/plugins/query-monitor/classes/Collector.php
wp-content/plugins/query-monitor/classes/Collectors.php
wp-content/plugins/query-monitor/classes/Dispatcher.php
wp-content/plugins/query-monitor/classes/Dispatchers.php
wp-content/plugins/query-monitor/classes/Output.php
wp-content/plugins/query-monitor/classes/Plugin.php
wp-content/plugins/query-monitor/classes/Util.php
wp-content/plugins/query-monitor/classes/debug_bar.php
wp-content/plugins/query-monitor/classes/debug_bar_panel.php
wp-content/plugins/query-monitor/collectors/admin.php
wp-content/plugins/query-monitor/collectors/assets.php
wp-content/plugins/query-monitor/collectors/conditionals.php
wp-content/plugins/query-monitor/collectors/db_callers.php
wp-content/plugins/query-monitor/collectors/db_components.php
wp-content/plugins/query-monitor/collectors/db_queries.php
wp-content/plugins/query-monitor/collectors/debug_bar.php
wp-content/plugins/query-monitor/collectors/environment.php
wp-content/plugins/query-monitor/collectors/hooks.php
wp-content/plugins/query-monitor/collectors/http.php
wp-content/plugins/query-monitor/collectors/overview.php
wp-content/plugins/query-monitor/collectors/php_errors.php
wp-content/plugins/query-monitor/collectors/redirects.php
wp-content/plugins/query-monitor/collectors/request.php
wp-content/plugins/query-monitor/collectors/theme.php
wp-content/plugins/query-monitor/collectors/transients.php
wp-content/plugins/query-monitor/composer.json
wp-content/plugins/query-monitor/dispatchers/Headers.php
wp-content/plugins/query-monitor/dispatchers/Html.php
wp-content/plugins/query-monitor/output/Headers.php
wp-content/plugins/query-monitor/output/Html.php
wp-content/plugins/query-monitor/output/headers/php_errors.php
wp-content/plugins/query-monitor/output/headers/redirects.php
wp-content/plugins/query-monitor/output/html/admin.php
wp-content/plugins/query-monitor/output/html/assets.php
wp-content/plugins/query-monitor/output/html/conditionals.php
wp-content/plugins/query-monitor/output/html/db_callers.php
wp-content/plugins/query-monitor/output/html/db_components.php
wp-content/plugins/query-monitor/output/html/db_queries.php
wp-content/plugins/query-monitor/output/html/debug_bar.php
wp-content/plugins/query-monitor/output/html/environment.php
wp-content/plugins/query-monitor/output/html/hooks.php
wp-content/plugins/query-monitor/output/html/http.php
wp-content/plugins/query-monitor/output/html/overview.php
wp-content/plugins/query-monitor/output/html/php_errors.php
wp-content/plugins/query-monitor/output/html/request.php
wp-content/plugins/query-monitor/output/html/theme.php
wp-content/plugins/query-monitor/output/html/transients.php
wp-content/plugins/query-monitor/query-monitor.php
wp-content/plugins/query-monitor/readme.txt
wp-content/plugins/query-monitor/wp-content/db.php
/nbproject/private/