// Dimensions for dfp ads

// Main header ad
#div-gpt-ad-664089004995786621-1 {
	width:728px; 
	height:90px;
}

// First sidebar ad (top)
#div-gpt-ad-664089004995786621-2 {
	width:300px; 
	height:250px;
}

// Second sidebar 
#div-gpt-ad-664089004995786621-3 {
	width:300px;
	height:250px;
}

// footer ad
#div-gpt-ad-664089004995786621-4 {
	width:728px; 
	height:90px;
}

// Grey out nav links
li.hidelink a:link,
li.hidelink a:visited {
	color:#999 !important;
	cursor:default !important;
}