@media(max-width:767px) {
	.quora .social-holder.instagram {
		border-left: none;
  		padding: 0 5%;
	}
	.quora .social-holder.twitter {
		padding: 0 5%;
	}
	.quora .social-holder .img-list li {
		  padding: 0 10px 15px 0;
	}
	.quora#header {
  		padding: 10px 0 0;
  	}
  	.quora .navbar-header {
  		margin: 0 0 10px 0;
  	}
  	.filter-list {
  		text-align: center;
  	}
  	.advertisement-container h2 {
  	  	display: inline;
  	}
  	.quora .advertisement-container .picture-holder img {
  	  	bottom: -15px;
  		position: relative;
  	}
  	.quora .advertisement-container .alignleft {
  		width: 100%;
  	}
}
@media(min-width:768px) {

}
@media(max-width:992px) {
	#div-gpt-ad-664089004995786621-2 {  
	  margin-right: 15px;
	}
}
@media(min-width:1200px) {
}