// Application title
.tab-content h3 {
	line-height: 100%;
}

// Maker name
.tab-content h4 {
	margin:6px 0 6px;
}

.alert {
	p {
		margin: 10px 0;
		a {
			color: red;
		}
	}
}

#scheduleTab {
	.nav-tabs > li > a {
	  border: 0;
	  background-color: transparent;
	  text-transform: capitalize;
	  padding: 10px;
	}
	.nav-tabs > li {
	  border: thin solid #ddd;
	  font-size: 18px;
	  margin-right:5px;
	}
	.nav-tabs > li.active {
	  background-color: #00bef3;
	}
	.nav-tabs > li.active a {
	  color: #fff;
	}
	.dateTime {
	  color: #085a7e;
	}
	table tr {
	  background-color: #f9f9f9;
	}
	.thumbnail img {
	  min-width: 90px;
	}
}

// Education Forum Page Schedule

.sessions {
	margin-top:15px;
	padding-top:20px;
	border-top:1px solid #eee;
	.row {
		margin-bottom:20px;
	}
	.session-detail.breaktime {
		padding-bottom:0;
		border-top:1px solid #eee;
		border-bottom:1px solid #eee;
	}

	.session-time {
		p{
		margin-bottom:0;
		padding-left: 0;
		font-weight:bold;
		}
	}

	.session-detail{
		background-color:#f9f9f9;
		padding-bottom:15px;
		font-weight:300;
		color:#023d4f;
		p {
		margin-bottom:3px;
		}
		h2 {
		margin-top:10px;
		font-weight:700;
		font-size: 20px;
		line-height: 24px;
		color: #292f33;
		}
		span {
		font-weight:bold;
		}
		.session-location{
			margin-top:15px;
		}
	}
}

