@CHARSET "UTF-8";
.gfield_checkbox_columns ul {
    columns: 2;
  	-webkit-columns: 2;
  	-moz-columns: 2;
  	margin: 6px 0;
    padding: 0;
}
.gform_wrapper .gfield_label {
    font-size: 1.4em !important;
    font-weight: bold !important;
}
.gform_wrapper .description, .gform_wrapper .gfield_description, .gform_wrapper .gsection_description, .gform_wrapper .instruction {
    font-size: 1.1em !important;
}
.gf_scrolling_description div {
    height: 400px;
    overflow: auto;
}
.ginput_complex
{
	width:auto !important;
	max-width:98% !important;
}
.ginput_complex input
{
	width:auto !important;
	max-width:97% !important;
}
.ginput_complex.ginput_container.has_first_name.has_last_name span {
    width: 45% !important;
}

.gform_next_button {
    background: linear-gradient(to bottom, rgba(255, 42, 42, 1) 0%, rgba(245, 25, 25, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #cf0000;
    border-radius: 2px;
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.3) inset;
    color: #ffffff;
     font-size: 20px !important;
    font-weight: bold;
    padding: 12px 20px 12px 10px;
    text-shadow: none;
    text-transform: uppercase;
    vertical-align: middle;
}

.gform_previous_button {
    background: linear-gradient(to bottom, rgba(255, 42, 42, 1) 0%, rgba(245, 25, 25, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #cf0000;
    border-radius: 2px;
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.3) inset;
    color: #ffffff;
    font-size: 20px !important;
    font-weight: bold;
    padding: 12px 10px 12px 20px;
    text-shadow: none;
    text-transform: uppercase;
    vertical-align: middle;
}

.gform_submit_button {
    background: linear-gradient(to bottom, rgba(255, 42, 42, 1) 0%, rgba(245, 25, 25, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #cf0000;
    border-radius: 2px;
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.3) inset;
    color: #ffffff;
    font-size: 20px !important;
    font-weight: bold;
    padding: 12px 20px 12px 20px;
    text-shadow: none;
    text-transform: uppercase;
    vertical-align: middle;
}


.container-gpb:after {
    border-bottom: 8px solid transparent;
    border-right: 8px solid white;
    border-top: 8px solid transparent;
    content: "";
    height: 0;
    margin-top: -10px;
    position: absolute;
    right: 120px;
    top: 45%;
    width: 0;
}
.container-gnb:after {
    border-bottom: 8px solid transparent;
    border-left: 8px solid white;
    border-top: 8px solid transparent;
    content: "";
    height: 0;
    margin-top: -10px;
    position: absolute;
    right: 18px;
    top: 45%;
    width: 0;
}
.container-gpb {
    position: relative;
}
.container-gnb {
    position: relative;
}