/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 4, 2015, 2:32:46 PM
    Author     : rich.haynie
*/
body.login {
    background-image: url('home-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.login h1 a {
    background-image: url('login-logo.png');
}

#auth0-login-form{
    float:left;
}

p#backtoblog {
    display: none;
}
.a0-header h1 {
    display: none;
}

div.a0-avatar {
    display: none !important;
}

.vertical-align {
    display: flex;
    align-items: center;
}
#a0-lock.a0-theme-default .a0-panel .a0-icon-container
{
    height:10px;
}
.mftagline {
    color: #3FAFED;
    font-size: 18px
}