/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 22, 2015, 2:24:08 PM
    Author     : aliciawilliams
*/

/*form 25 field 321 styling*/
ul#input_321 li{width:50%;float:left;}

.standoutParent{background-color: #FF8080;
  }
.entryStandout, .entryStandout ul li {
 
}
.entry-view-collapse{background-color:#ccc}
.entry-view-collapse span {display:block; width:100%}