/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 22, 2015, 2:24:08 PM
    Author     : aliciawilliams
*/

/*form 25 field 321 styling*/
ul#input_321 li{width:50%;float:left;}

.standoutParent{background-color: #FF8080;
  }
.entryStandout, .entryStandout ul li {
 
}
.entry-view-collapse{background-color:#ccc}
.entry-view-collapse span {display:block; width:100%}

#input_151 { width:100%}

/*entry rating*/
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 125px;
  height: 25px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}


/* Navigation */
#faire_nav{ 
  background-color: white;
  width: 100%;
  display: inline-block;
  margin: 10px 0 0 0;
  font-size:13px;
}
div#gf_form_toolbar {margin: 0;}
ul li.gf_form_switcher{top:-47px}
	#faire_nav ul {
                /*border: thin solid lightgrey;
		background: #ddd;
		float: left;
		-webkit-transition: .5s;
		transition: .5s;*/
	}
	
	#faire_nav ul li {
                padding: 10px 6px;
        }
        
        #faire_nav li{
		float: left;
		position: relative;
		width: 140px;
		list-style: none;
		/*-webkit-transition: .5s;
		transition: .5s;*/
                margin: 0;                
	}
	#faire_nav ul li ul li {width:260px}
        #faire_nav ul li ul li ul li{width:150px}
	#faire_nav > ul > li > a, h1 {
		
	}
	
	#faire_nav a {
		display: block;
		text-decoration: none;
		
		color: #000;
	}

	#faire_nav ul ul {
		position: absolute;
		left: 0;
		top: 100%;
		visibility: hidden;
		opacity: 0;
	}
	
	#faire_nav ul ul ul {
		left: 100%;
		top: 0;
	}
	
	#faire_nav li:hover, #faire_nav li:hover li {
		background: #ddd;
	}
	
	#faire_nav li li:hover, #faire_nav li li:hover li {
		background: #bbb;
	}
	
	#faire_nav li li li:hover {
		background: #999;
	}
	
	#faire_nav li:hover > ul {
		visibility: visible;
		opacity: 1;
	}
        
        #faire_nav li a:after {
            width: 0; 
            height: 0; 
            content: "";
            position: absolute;
            top: 18px;
            right: 8px;
            border-top: 4px solid rgba(0, 0, 0, 1);     
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
        }

        #faire_nav li li a:after{
            width: 0; 
            height: 0; 
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;

            border-left: 4px solid rgba(0, 0, 0, 1);
            
        }
        #faire_nav li > a:only-child:after
        {
            content: '';
            border:0;
        }   
    /* Entry List filters */
    #entry_filters{float:right}
        .title{margin-top: 10px;font-weight: bold;}
        .appliedFilters{
            padding:10px;
            border: 1px solid #ddd;
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
            box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
            background-color: #fff;
            color: #32373c;
            outline: 0;
            -webkit-transition: .05s border-color ease-in-out;
            transition: .05s border-color ease-in-out;
        }     
        .appliedFilters tr{        
            border: 1px solid #ddd;
        }
        
        ul#gf_form_toolbar_links .gf_form_toolbar_preview,
        ul#gf_form_toolbar_links .gf_form_toolbar_entries{display:none}
        div ul#gf_form_toolbar_links{border:0}
        
    /*hide the form switcher for the new makerfaire custom detail view page*/
    div.gf_entry_wrap ul#gf_form_toolbar_links li.gf_form_switcher{display:none}
    
.button.redbutton,.button.redbutton:hover{
  width: auto;
  background-color: #D54E21;
  border: none;
  color: white;
}

.tab{padding:0 15px;}
.topBorder{border-top: thin solid lightgray;padding-top: 10px;}

.inner-sidebar input,.inner-sidebar select{margin:5px 0;}
.inner-sidebar .postbox, .inner-sidebar .stuffbox{line-height:1.5em}